<template>
    <v-dialog v-model="dialog" persistent>
        <template v-slot:activator="{on}">
                    
                    
          <v-btn v-if="flag" icon small text ><v-icon   small v-on="on">mdi-pencil</v-icon> </v-btn>
         
            <!-- <v-icon v-if="flag"  small v-on="on">mdi-pencil</v-icon> -->
            <v-btn class="font-weight-bold white--text" color="#cc37c7" v-else dark v-on="on">Nuevo</v-btn>
        </template>
        
        <v-form v-model="valid">
        <v-card>
            <v-card-title>{{(flag?"Modificar  ":"Crear  ") + title}}</v-card-title>
            <v-card-text>

              <v-container fluid grid-list-md>
              <v-layout row wrap>

                <v-flex xs12 md6>
                  <!-- Group Name -->
                  <v-text-field
                    v-model="nombre"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Nombre del grupo"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md6>
                  <!-- Group Porcent -->
                  <v-text-field
                    v-model="porcentaje"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="% de ganancia del usuario: (De 1 a 100)"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

              </v-layout>

              <v-layout row wrap>
                <v-flex xs12 md6>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="usuario"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Usuario"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md6>
                  <!-- First Name -->
                <v-text-field v-model="clave" 
                    :rules="[rules.required]" type="password"
                    append-icon="mdi-lock-open"
                    label="Nueva contraseña"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

              </v-layout>

              <v-divider></v-divider>
            </v-container>
               
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" @click="saveUser">Guardar</v-btn>
                <v-btn color="error" @click="cancelUser">Cancelar</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</v-dialog>
</template>
<script>
import statuses from '@/statuses';
export default {
    props:['title','flag','edituser','isowner'],
    data:() =>({
      id_auser:'',nombre:'', porcentaje:'', usuario:'', clave:'',
           user: {},
           user_loged: '',
            passwordConfirm: '',
      status: ['Activo', 'Inactivo'],
        
      rules: {
        required: value => !!value || 'Este campo es requerido.'
      },
        ///////////////
        flgonce: false,
        seluser: null,
        dialog: false,
        valid:false,
        
      
    }),
    updated(){
        if (this.flag){
            if (this.flgonce) return;
            this.seluser = this.edituser;
            this.id_auser = this.seluser.id_auser;
            this.nombre = this.seluser.nombre; this.porcentaje = '0'; this.usuario = this.seluser.usuario;
            this.flgonce = true;
        }else{
              //this.cleanUser();
        }
    },
    created() {
        this.user_loged = JSON.parse(localStorage.getItem("lvspa-user"));
        this.cleanUser();
        console.log('Este es el usuario logeado',this.user_loged);
    },
    methods:{
        cleanUser(){
            this.nombre = ''; this.porcentaje = ''; this.usuario = ''; this.clave = '';

        },
        saveUser(){
          
                let newuser ={
                id_auser: this.user_loged.id_auser,
                nombre: this.nombre,
                porcentaje: this.porcentaje,
                usuario: this.usuario,
                clave: this.clave,
                fecha: "0", 
                fecha_login: "0",
                sesion: "CONECTADO",
                sesion_tok: "987456321",
                pais: "{idpais: 1}",
                estado: "ACTIVO",
                tipo: "GRUPO", 
                cr_creditos: -1,
                cr_creditos_usa: -1,
                cr_fecha_mod: "0",
                nivel: `${this.user_loged.id_auser},0,0,0`
            
            }
            if (this.flag){
                
                newuser.id_auser = this.id_auser,
                newuser.nivel = `${this.user_loged.id_auser},${this.seluser.id_auser},0,0`;

            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
         
                                
                        this.$http.post('/editadmuser', newuser, config)
                            .then((res) => {
                              
                            this.$store.dispatch('snackbar/success', 'Grupo editado exitosamente');
                            
                            console.log('GRUPO ACTUALIZADO',res);
                            
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });
             
            }else{
                // newuser.level = (this.isowner?"own":"clie");
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };

        
         
                                
                        this.$http.post('/addadmuser', newuser, config)
                            .then((res) => {
                            this.$store.dispatch('snackbar/success', 'Grupo creado exitosamente');
                            console.log('GRUPO NUEVO',res);
                           
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });

              

            }
            this.$emit('afterupdate');
            this.flgonce = false;
            this.dialog = false;
             
        },
        cancelUser(){
            this.dialog = false;
            this.flgonce = false;
        },
    }
}
</script>