<template>
    <h1></h1>
</template>

<script>
// import statuses from '@/statuses';

export default {
  data() {
    return {
      
    };
  },
  created() {
    
  },
 methods: {

  },
};
</script>

