<template>
    <v-dialog v-model="dialog" persistent>
        <template v-slot:activator="{on}">
                    
                    
          <v-btn v-if="flag" icon small text ><v-icon   small v-on="on">mdi-pencil</v-icon> </v-btn>
         
            <!-- <v-icon v-if="flag"  small v-on="on">mdi-pencil</v-icon> -->
            <v-btn class="font-weight-bold white--text" color="#cc37c7" v-else dark v-on="on">Nuevo</v-btn>
        </template>
        
        <v-form v-model="valid">
        <v-card>
            <v-card-title>{{(flag?"Modificar  ":"Crear  ") + title}}</v-card-title>
            <v-card-text>

              <v-container fluid grid-list-md>


              <v-layout row wrap>

                 <v-flex xs12 md2>
                  <!-- Group Name -->
                  <v-text-field
                    v-if="!flag"
                    v-model="fake_sucursal"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Sucursal"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>


                 <!-- <v-flex xs12 md2>
         
                  <v-text-field
                    v-model="pais"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Pais"
                    outlined
                    required
                  ></v-text-field>
                </v-flex> -->

                <v-flex v-if="!flag" xs12 md2>
                  <v-select  v-model="country" @change="onSelect" :items="types_countrys" :rules="[rules.required]"  label="Asignar Pais"
                    outlined
                    required>
                  </v-select>
                </v-flex>


                    <v-flex v-if="!flag" xs12 md2>
                  <!-- Group User -->
                  <v-text-field
                    v-model="city"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Ciudad"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                            <v-flex xs12 md2>
                  <!-- First Name -->
                <v-text-field v-if="!flag" v-model="number" 
                    :rules="[rules.required]"
                    append-icon="mdi-card"
                    label="Numero"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>


              <v-flex v-if="!flag" xs12 md2>
                  <v-select v-model="state" :rules="[rules.required]" :items="type" label="Estado del boot"
                    outlined
                    required
                  ></v-select>
                </v-flex>

              <v-flex xs12 md2>
                  <!-- First Name -->
                <v-text-field v-model="intervals_quantity" 
                    :rules="[rules.required]"
                    append-icon="mdi-card"
                    label="Intervalos"
                    outlined
                    required
                    v-on:change="createdInterval"
                  ></v-text-field>
                </v-flex>
     

              </v-layout>

            <v-layout v-if="intervals.length >0" row wrap>

              <v-flex xs12 >
              
                       <v-card-title primary-title class="justify-center text-md-center">
                          <div>
                            <h3 class="headline  text--accent-2">Intervalos</h3>
                            <div>Configuracion de tiempo de ejecucion del bot</div>
                          </div>
                        </v-card-title>

                </v-flex>

                 </v-layout>

                 


           <v-layout v-for="(interval, index) in intervals" v-bind:key="index" row wrap >


              <v-flex xs12 >

                        <v-card-title primary-title>
                          <div>
                            <h3 class="headline text--accent-2">Intervalo {{index+1}}</h3>
                          </div>
                        </v-card-title>

                 </v-flex>

                <v-flex xs12 md4>
                  <!-- First Name -->
                <v-text-field v-model="intervals[index].Minutos" 
                    :rules="[rules.required]"
                    append-icon="mdi-card"
                    label="Minutos"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md4>
                  <!-- First Name -->
                <v-text-field v-model="intervals[index].Segundos" 
                    :rules="[rules.required]"
                    append-icon="mdi-card"
                    label="Segundos"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md4>
                  <!-- First Name -->
                <v-text-field v-model="intervals[index].Cantidad" 
                    :rules="[rules.required]"
                    append-icon="mdi-card"
                    label="Cantidad de tickets"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

            </v-layout>

              <v-divider></v-divider>
            </v-container>
               
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" @click="saveUser">Guardar</v-btn>
                <v-btn color="error" @click="cancelUser">Cancelar</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</v-dialog>
</template>
<script>
import statuses from '@/statuses';
export default {
    props:['title','flag','edituser','isowner'],
    data:() =>({
      fake_sucursal: '', country: '', city:'', number:'',state:'',
      intervals_quantity: 0,
      sesion_tok: '',
      type: ['Activo', 'Inactivo'],
      id_country: '',
      country_code: '',
      intervals : [],
      countrys: [],
      types_countrys: [],
      countrys_id: [],
      countrys_code: [],

      rules: {
        required: value => !!value || 'Este campo es requerido.'
      },
        ///////////////
        flgonce: false,
        seluser: null,
        dialog: false,
        valid:false,
        
      
    }),
    updated(){
        if (this.flag){
            if (this.flgonce) return;
            this.seluser = this.edituser;
            this.id_ter= this.seluser.id_ter;
            this.flgonce = true;
        }else{
              //this.cleanUser();
        }
    },
    created() {

     this.fake_sucursal= '', this.country= '', this.city='', this.number='', this.state='';

    this.getCountrysName();

    },
    methods:{

    getCountrysName() {
      this.loading = true;
      this.$http.get(`/filtercountrys`)
      
        .then((res) => {
     
          this.countrys = res.data.countrys;
          console.log('LOS PAISES ', this.countrys);
            for (let i in this.countrys) { 
              this.types_countrys.push(this.countrys[i].nombre);
               this.countrys_id.push(this.countrys[i].id_pais);
               this.countrys_code.push(this.countrys[i].codigo);
        }

        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
      

    },

      onSelect: function() {
        let index = this.types_countrys.indexOf(this.country);
        console.log('pais:', this.country);
        console.log('index:', index);
        console.log('id_pais:', this.countrys_id[index]);
        console.log('code:', this.countrys_code[index]);
        this.id_country = this.countrys_id[index];
        this.country_code = this.countrys_code[index];
      },

      createdInterval() {
        console.log('Execute function created interval');
        this.intervals = [];

          for (let i = 0; i < this.intervals_quantity; i++) {

              this.intervals.push({Minutos:0, Segundos:0, Cantidad:0});

          }

          
      },

        cleanUser(){
     this.fake_sucursal= '', this.country= '', this.city='', this.number='', this.state='';

        },



        saveUser(){

          this.sesion_tok = `{"i":[`;

           for (let i in this.intervals) { 

            if (i != this.intervals.lenght-1) {
             this.sesion_tok+= `[${this.intervals[i].Minutos},${this.intervals[i].Segundos},${this.intervals[i].Cantidad}],`;
          } else {
              this.sesion_tok+= `[${this.intervals[i].Minutos},${this.intervals[i].Segundos},${this.intervals[i].Cantidad}]`;
          }

        

        
           }
             this.sesion_tok += `]}`;

                let newuser ={
                id_ter: 0,
                id_suc: 0,
                nombre: `BOT~${this.country}~${this.city}~${this.fake_sucursal}~1`,
                usuario: 'BOOT',
                clave: '',
                fecha: "0", 
                fecha_login: "0",
                sesion: "CONECTADO",
                sesion_tok: this.sesion_tok,
                pais: `{${this.country_code}~${this.id_country}}`,
                estado: this.state,
                cr_creditos: -1,
                cr_creditos_usa: -1,
                cr_fecha_mod: "0"
               
            
            }

            if (this.flag){
                newuser.id_ter = this.seluser.id_ter;

            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
           console.log(newuser);
                                
                        this.$http.post('/editboot', newuser, config)
                            .then((res) => {
                              
                            this.$store.dispatch('snackbar/success', 'Boot editado exitosamente');
                            
                            console.log('BOOT ACTUALIZADO',res);
                            
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });
             
            }else{
                newuser.level = (this.isowner?"own":"clie");
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };

        
                        console.log(newuser);

                        console.log(this.sesion_tok);
                                
                        this.$http.post('/addbot', newuser, config)
                            .then((res) => {
                            this.$store.dispatch('snackbar/success', 'Boot creado exitosamente');
                            console.log('BOOT NUEVO',res);
                           
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });

              

            }
       
            this.$emit('afterupdate');
            
            this.flgonce = false;
            this.dialog = false;
             
        },
        cancelUser(){
            this.dialog = false;
            this.flgonce = false;
        },


    }
}
</script>