<template>
  <v-layout row wrap>
   <v-flex xs12 class="mb-3">
            <span  style="margin-left:25px;"><dlgeditu  :title="accion" :flag="flgEdit" :isowner="flagIsOwner" @afterupdate="editItem()"/></span>
    </v-flex>
    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          {{titulo}}

          <v-spacer></v-spacer>

          <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line hide-details >
         
          </v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table :headers="headers" :items="countrys" :search="search" :loading="loading" loading-text="Cargando..."
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
           >
            <template v-slot:item.action="{item}">
  

              <v-tooltip bottom color="warning">
                <template v-slot:activator="{ on }">
    
                  <dlgeditu :title="accion" :flag="true" :edituser="item" :isowner="flagIsOwner" @afterupdate="editItem(item)"/>
                </template>
                <span>Editar Grupo</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn icon small text :to="`/user/edit/${item.id}`">
                    <v-icon  v-on="on" small >mdi-sack</v-icon>
                  </v-btn>
                </template>
                <span>Asignar creditos</span>
              </v-tooltip>

            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/statuses';
import dlgEditUser from './modalReport';

export default {
      components:{
        'dlgeditu': dlgEditUser
    },
  data() {
    return {
      titulo: 'Listado de reportes',
      flagIsOwner: false,
      flgEdit: false,
      accion: 'Reporte',
      loading: false,
      search: '',
      displayDeleteDialog: false,
      deleteDialogUser: {},
      serverPagination: {
        page: 1,
        rowsNumber: 10,
      },
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Total apostados',
          value: 'total_bet',
        },
        {
          text: 'Ingresos',
          value: 'income',
        },
        {
          text: 'Total pagados',
          value: 'toatl_paid',
        },
        {
          text: 'Contribución',
          value: 'contribution',
        },
        {
          text: 'Egresos',
          value: 'expenses',
        },
        {
          text: 'Pendientes',
          value: 'slopes',
        },
        {
          text: 'Utilidad',
          value: 'utility',
        },      
        {
          text: 'Procentaje %',
          value: 'percentage',
        },  
      ],
      countrys: [],
    };
  },
  created() {
      this.getCountrys();
  },
 methods: {
       editItem(){
           this.getCountrys();

          
        },
    getCountrys() {
      this.loading = true;
      this.$http.get(`/filtercountrys`)
      
        .then((res) => {
          console.log(res);
          this.countrys = res.data.countrys;
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },
    deleteUser() {

    },
  },
};
</script>

