<template>
    <v-dialog v-model="dialog" persistent>
        <template v-slot:activator="{on}">
                    
                    
          <v-btn v-if="flag" icon small text ><v-icon   small v-on="on">mdi-pencil</v-icon> </v-btn>
         
            <!-- <v-icon v-if="flag"  small v-on="on">mdi-pencil</v-icon> -->
            <v-btn class="font-weight-bold white--text" color="#cc37c7" v-else dark v-on="on">Nuevo</v-btn>
        </template>
        
        <v-form v-model="valid">
        <v-card>
            <v-card-title>{{(flag?"Modificar  ":"Crear  ") + title}}</v-card-title>
            <v-card-text>

              <v-container fluid grid-list-md>
              <v-layout row wrap>

                <v-flex xs12 md3>
                  <!-- Group Name -->
                  <v-text-field
                    v-model="nombre"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Nombre del pais"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md3>
                  <!-- Group Porcent -->
                  <v-text-field
                    v-model="codigo"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Codigo"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                           <v-flex xs12 md3>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="simbolo"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Simbolo"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                                <v-flex xs12 md3>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="valor_carton"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Valor del carton"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

              </v-layout>

              <v-layout row wrap>


               <v-flex xs12 md6>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="fijo_pozo"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Valor inicial del pozo"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md6>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="fijo_jackpot"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Valor inicial del jackpot"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

              </v-layout>


              <v-layout row wrap>


               <v-flex xs12 md6>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="porcentaje_pozo"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="(%) Porcentaje del pozo"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

            <v-flex xs12 md6>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="porcentaje_jackpot"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="(%) Porcentaje del jackpot"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

              </v-layout>

                            <v-layout row wrap>


               <v-flex xs12 md4>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="porcentaje_cliente"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="(%) Porcentaje del cliente"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

            <v-flex xs12 md4>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="porcentaje_vendedor"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="(%) Porcentaje del vendedor de recargas (OPCIONAL)"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                            <v-flex xs12 md4>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="porcentaje_empresa"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="(%) Porcentaje de la empresa"
                    outlined
                    required
                    disabled
                  ></v-text-field>
                </v-flex>

              </v-layout>

              <v-divider></v-divider>
            </v-container>
               
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" @click="saveCountry">Guardar</v-btn>
                <v-btn color="error" @click="cancelUser">Cancelar</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</v-dialog>
</template>
<script>
import statuses from '@/statuses';
export default {
    props:['title','flag','edituser','isowner'],
    data:() =>({
        id_pais: '',
      nombre:'',
      codigo:'', 
      simbolo:'', 
      valor_carton:'', 
      fijo_pozo:'', 
      fijo_jackpot:'', 
      porcentaje_pozo:'', 
      porcentaje_jackpot:'', 
      porcentaje_cliente: '', 
      porcentaje_vendedor:'',

      porcentaje_empresa:'',
        
      rules: {
        required: value => !!value || 'Este campo es requerido.'
      },
        ///////////////
        flgonce: false,
        seluser: null,
        dialog: false,
        valid:false,
        
      
    }),
    updated(){
        if (this.flag){
            if (this.flgonce) return;
            this.seluser = this.edituser;

            this.id_pais = this.seluser.id_pais;
            this.nombre = this.seluser.nombre; 
            this.codigo = this.seluser.codigo;
            this.simbolo = this.seluser.simbolo;
            this.valor_carton = this.seluser.valor_carton;
            this.fijo_pozo = this.seluser.fijo_pozo;
            this.fijo_jackpot = this.seluser.fijo_jackpot;
            this.porcentaje_pozo= this.seluser.porcentaje_pozo,
            this.porcentaje_jackpot= this.seluser.porcentaje_jackpot,
            this.porcentaje_cliente= this.seluser.porcentaje_cliente,
            this.porcentaje_vendedor= this.seluser.porcentaje_vendedor
            this.flgonce = true;
        }else{
              //this.cleanUser();
        }
    },
    created() {

        this.cleanUser();
    },
    methods:{
        cleanUser(){
            this.nombre = '',
            this.codigo = '', 
            this.simbolo = '', 
            this.valor_carton = '', 
            this.fijo_pozo = '', 
            this.fijo_jackpot = '', 
            this.porcentaje_pozo = '', 
            this.porcentaje_jackpot = '', 
            this.porcentaje_cliente = '', 
            this.porcentaje_vendedor = ''
        },
        saveCountry(){
          
                let newcountry ={

                id_pais: 0,
                nombre: this.nombre,
                codigo: this.codigo,
                simbolo: this.simbolo,
                valor_carton: parseFloat(this.valor_carton),
                fijo_pozo: parseFloat(this.fijo_pozo), 
                fijo_jackpot: parseFloat(this.fijo_jackpot),
                porcentaje_pozo: parseFloat(this.porcentaje_pozo),
                porcentaje_jackpot: parseFloat(this.porcentaje_jackpot),
                porcentaje_cliente: parseFloat(this.porcentaje_cliente),
                porcentaje_vendedor: parseFloat(this.porcentaje_vendedor)
            
            }
            if (this.flag){

                console.log(newcountry);
                
                        newcountry.id_pais= parseInt(this.id_pais);

                        let config = { headers: {'Access-Control-Allow-Origin': '*'} };
         
                                
                        this.$http.post('/editcountry', newcountry, config)
                            .then((res) => {
                              
                            this.$store.dispatch('snackbar/success', 'Pais editado exitosamente');
                            
                            console.log('PAIS ACTUALIZADO',res);
                            
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });
             
            }else{
            
                            let config = { headers: {'Access-Control-Allow-Origin': '*'} };

                            this.$http.post('/addcountry', newcountry, config)
                            .then((res) => {
                            this.$store.dispatch('snackbar/success', 'Pais creado exitosamente');
                            console.log('PAIS NUEVO',res);
                           
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });

              

            }
            this.$emit('afterupdate');
            this.flgonce = false;
            this.dialog = false;
             
        },
        cancelUser(){
            this.dialog = false;
            this.flgonce = false;
        },
    }
}
</script>