<template>
  <v-layout row wrap>
   <!-- <v-flex xs12 class="mb-3">
            <span  style="margin-left:25px;"><dlgeditu  :title="accion" :flag="flgEdit" :isowner="flagIsOwner" @afterupdate="editItem()"/></span>
    </v-flex> -->
    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          {{titulo}}

          <v-spacer></v-spacer>

          <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line hide-details >
         
          </v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table :headers="headers" :items="tickets" :search="search" :loading="loading" loading-text="Cargando..."
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
           >
            <template v-slot:item.action="{item}">
  

      

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn icon small text @click="rePrinter">
                    <v-icon  v-on="on" small >mdi-printer</v-icon>
                  </v-btn>
                </template>
                <span>Reimprimir</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn icon small text :to="`/${item.id}`">
                    <v-icon  v-on="on" small >mdi-sack</v-icon>
                  </v-btn>
                </template>
                <span>Asignar creditos</span>
              </v-tooltip>

             <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn icon small text :to="`/${item.id}`">
                    <v-icon  v-on="on" small >mdi-sack</v-icon>
                  </v-btn>
                </template>
                <span>Asignar creditos</span>
              </v-tooltip>

            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/statuses';
// import dlgEditUser from './modalTicket';
 import moment2 from 'moment-timezone';
import moment from 'moment';

export default {
    //   components:{
    //     'dlgeditu': dlgEditUser
    // },
  data() {
    return {
      id_sucursal: '',
      titulo: 'Listado de reportes',
      flagIsOwner: false,
      flgEdit: false,
      accion: 'Reporte',
      loading: false,
      search: '',
      displayDeleteDialog: false,
      deleteDialogUser: {},
      serverPagination: {
        page: 1,
        rowsNumber: 10,
      },
      headers: [
        {
          text: '#',
          value: 'id_ticket',
        },

           {
          text: 'COD',
          value: 'ticket_sucursal',
        },
        {
          text: 'Fecha emision',
          value: 'fecha',
        },
        {
          text: 'Hora emision',
          value: 'hora',
        },
        {
          text: 'Codigo',
          value: 'codigo',
        },
        {
          text: 'N° Tickets',
          value: 'pin',
        },
        {
          text: 'N° Sorteo',
          value: 'id_partida',
        },
        {
          text: 'Terminal',
          value: 'tipo_usu',
        },
        {
          text: 'Estado',
          value: 'estado',
        },     
        {
          text: 'Ganancia',
          value: 'ganancia',
        },  
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      tickets: [],
      fecha_fin:'',
      fecha_inicio: '',
      m: '',
      m2: ''
    };
  },
  created() {
     
      let user = JSON.parse(localStorage.getItem("lvspa-user"));
      this.id_sucursal = user.id_auser;

            let date = new Date();

     let fechahoy =  date.toISOString().split('T')[0];
     console.log('FECHA HOY', fechahoy)
    //  let m = moment(date, "YYYY-MM-DD HH:mm Z");
     this.m = moment(`${fechahoy} 23:59 +0000`, "YYYY-MM-DD HH:mm");
    this.m2 = moment(`${fechahoy} 00:00 +0000`, "YYYY-MM-DD HH:mm");
    // console.log('ESTRUCTURA', `${fechahoy} 11:59 +0000", "YYYY-MM-DD HH:mm Z`)
     console.log(this.m.format('x'));
  
     this.fecha_fin = this.m.unix();
     this.fecha_inicio = this.m2.unix();

        console.log(this.fecha_fin);
           console.log(this.fecha_inicio);

      this.getTickets();

    //  console.log('hora utc: ', moment.utc(date).valueOf());

       

       console.log('HORA LIMA : ', moment(1575929879).tz('America/Lima').format('YYYY-MM-DD HH:mm'))
  },
 methods: {
       editItem(){
           this.getTickets();

          
        },
    getTickets() {
        let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };

                let q = { 
                  wherestr: `id_sucursal = 1 AND CAST(fecha_emision AS unsigned) BETWEEN ${this.fecha_inicio} AND ${this.fecha_fin }` 
                  };

             

      
      this.loading = true;
      this.$http.post(`/filtertickets`, q, config)
      
        .then((res) => {
          console.log(res);
          this.tickets = res.data.tickets;

       for (let i in this.tickets) { 

                let fetch_emit = this.tickets[i].fecha_emision;
                console.log('VALUE  ', this.tickets[i].fecha_emision);
               console.log('FECHA_EMISION : ', moment2(parseInt(fetch_emit + '000')).format('YYYY-MM-DD'));
               console.log('HORA_EMISION : ', moment2(parseInt(fetch_emit + '000')).format(' HH:mm'));
               this.tickets[i].fecha = moment2(parseInt(fetch_emit + '000')).format('YYYY-MM-DD');
               this.tickets[i].hora = moment2(parseInt(fetch_emit + '000' )).tz(Intl.DateTimeFormat().resolvedOptions().timeZone).format(' HH:mm ');

              //  var offset = new Date().getTimezoneOffset();
              //  console.log(offset);

              // console.log(Intl.DateTimeFormat().resolvedOptions().timeZone)
              // console.log(moment.unix(1454521239279/1000).format("DD MMM YYYY hh:mm a"));

               


  
        }
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },

    rePrinter() {
      console.log('REPRINTER');
       this.loading = true;
               let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };


            let data ={

            id_ticket: 1,
            modalidad: '',
            cantidad_apostada: 0.00,
            ganancia: 0.00, 
            pin: 0,
            estado: '', 
            ticket_sucursal: 0,
            id_sucursal: 1,
            id_carton: 0,
            carton: '',
            id_partida: 0,
            id_usuario: 1,
            tipo_bingo: '',
            moneda: '',
            id_pais: 1,
            compat: '',
            fecha_emision: '',
            fecha_cobro: '',
            estfecha: '',
            estobs: '',
            pagado: 0,
            tipo_usu: 'VENDEDOR'
            
            }



          this.$http.post('/printticket',data, config)
          .then((resp) => {
                console.log(resp);
                 this.loading = false;
                 this.$store.dispatch('snackbar/success', 'Ticket Reimpreso Exitosamente');
                  
               
          })
          .catch((err) => {
             this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
          });
          

    },

            printTicket(idtickets) {
                let tickets = new Array();
                for (let index = 0; index < idtickets.length; index++) {
                  let carton = '';
                  let ticket_carton = JSON.parse(idtickets[index]['carton']);
                  console.log(ticket_carton);
                  for (let i = 0; i < 5; i++) {
                    for (let j = 0; j < 5; j++) {
                      carton += (ticket_carton[j][i] == 0 ? 'X' : ticket_carton[j][i]) + '' + ((i == 4 && j == 4) ? "" : ",");
                    }
                  }
                  carton += '';
                  tickets.push({
                    idticket: idtickets[index]['idticket'],
                    pin: idtickets[index]['ticket_sucursal'],
                    carton: carton,
                    barcode: idtickets[index]['code'],
                    numcard: idtickets[index]['idcarton']
                  })
                }
                this.sendPrinticket();
                // this.sessionService.printTicket(tickets, this.userService.user.nombre_padre, this.userService.user.nombre, this.userService.user.direccion, this.sessionService.sessionCreated["id"], this.userService.typeCoin['simbolo'] + ' ' + this.userService.typeCoin['valor_carton'], "ticket").subscribe();
                //this.sleep(3000);
                this.cardsSelectedTicket = new Array();
                this.printing = false;
  },

  sendPrinticket(ticketsSelected, sucursal, terminal, direccion, idpartida, valor_carton, tipoImp){
    let tickets = new Array();
    ticketsSelected.forEach(ticket => {
      tickets.push({
        sucursal: sucursal,
        terminal: terminal,
        direccion: direccion,
        fecha: moment(new Date()).format("DD-MM-YYYY"),
        hora: moment(new Date()).format("HH:mm:ss"),
        sorteo: idpartida,
        ticket: ticket['idticket'],
        pin: ticket['pin'],
        monto: valor_carton,
        carton: ticket['carton'],
        barcode: ticket['barcode'],
        numcard: ticket['numcard'],
        tipoimp: tipoImp});
    });
    let json = JSON.stringify({tickets: tickets});
    console.log(json)
    // let headers = new HttpHeaders().set('Content-Type', 'application/json');
    // return this.http.post("http://localhost:8020/toreceipt", json, {headers: headers})
  },
    deleteUser() {

    },

    
  },
};
</script>

