<template>
  <v-layout row wrap class="px-3">
    <v-flex xs12 class=" mb-3">

      <v-divider></v-divider>
    </v-flex>

    <v-flex xs12 class="mb-3">
      <v-card>
        <v-card-title class="justify-center">Editar datos de acceso al sistema</v-card-title>
        <v-card-subtitle class="text-center">Puedes editar los datos de acceso de esta cuenta</v-card-subtitle>

        <v-divider></v-divider>

        <v-card-text>
          <v-form @submit.prevent>
            <v-container fluid grid-list-lg>
              <v-layout row wrap >
                <v-flex xs12 md6>
                  <v-text-field v-model="user.nombre" append-icon="mdi-face" label="Nombre" outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md6>
                  <v-text-field v-model="user.usuario" append-icon="mdi-account" label="Usuario" outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field v-model="user.clave"  type="password" append-icon="mdi-key" label="Contraseña" outlined
                    required
                  ></v-text-field>
                </v-flex>

                <!-- <v-flex xs12>
                  <v-select v-model="baseFields.type" label="Tipo de acceso" :items="type" outlined
                    required
                  ></v-select>
                </v-flex> -->
              </v-layout>
            </v-container>
          </v-form>

           <v-btn class=" ml-3 font-weight-bold white--text "  color="#cc37c7" @click="update"
          >Editar usuario</v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/statuses';

export default {
  data() {
    return {
      user: {},
      // type: ['Sucursal'],
      baseFields: {},
    };
  },
  created() {
   let user_loged = JSON.parse(localStorage.getItem("lvspa-user"));
   this.user = user_loged;
   this.user.clave = '';
  },
  methods: {

    update() {

       let config = { headers: {'Access-Control-Allow-Origin': '*'} };
         
                                
        this.$http.post('/editadmuser', this.user, config)
            .then((res) => {
                              
           this.$store.dispatch('snackbar/success', 'Perfil editado exitosamente');
                            
            console.log('PERFIL ACTUALIZADO',res);
                            
             })
            .catch((err) => {
            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
             });


    }


  },
};
</script>
