<template>
  <v-app-bar app clipped-left color="light" dark flat
  >
    <v-app-bar-nav-icon @click="() => { this.$emit('toggle-drawer') }"
    ></v-app-bar-nav-icon>

    <img src="../assets/img/bingoxd.png" width="45px" height="45px">

    <v-toolbar-title class="ml-4">{{ title }}</v-toolbar-title>

    <v-spacer></v-spacer>


  </v-app-bar>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      title: 'BINGOXD',
    };
  },
  computed: {
    ...mapGetters({
      // isLoggedIn: 'auth/isLoggedIn',
      // authUser: 'auth/authUser',
    }),
  },
  created() {
    
  },
  methods: {

  },
};
</script>
