<template>
  <v-navigation-drawer :value="toggle" app clipped >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="title text-center" >
         Menu
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-divider></v-divider>

        <!-- Profiles -->
    <v-list dense nav>
        <v-list-item link :to="{ name: 'statistic.list' }">

              <v-list-item-icon>
                <v-icon>mdi-chart-bar</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Estadisticas</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

    <v-list dense nav>

     <v-list-group prepend-icon="mdi-progress-wrench" value="false" v-model="users" >
        <template v-slot:activator>
          <v-list-item-title>Administracion</v-list-item-title>
        </template>

          <!-- Global users admin -->
          <!-- <v-list dense nav>
            <v-list-item link :to="{ name: 'user.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-account-star</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Administradores Globales</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list> -->

                    <!-- Group users admin-->
          <v-list dense nav>
            <v-list-item link :to="{ name: 'group.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-account-group</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Grupos</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

                 <!-- Administrator Group -->
          <v-list dense nav>
            <v-list-item link :to="{ name: 'administrator.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-account-tie</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Administradores</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

                  <!-- Sucursal users admin -->
          <v-list dense nav>
            <v-list-item link :to="{ name: 'branch.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Sucursales</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

                    <!-- Countrys -->
          <v-list dense nav>
            <v-list-item link :to="{ name: 'countrys.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-earth</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Paises</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

                    <!-- Bonds -->
          <!-- <v-list dense nav>
            <v-list-item link :to="{ name: 'bonds.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-currency-btc</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Bonos</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list> -->

          <!-- Bots -->
          <v-list dense nav>
            <v-list-item link :to="{ name: 'bots.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-robot</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Lista de bots</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

      </v-list-group>

       </v-list>

                <!-- Terminals -->
    <v-list dense nav>
        <v-list-item link :to="{ name: 'terminals.list' }">

              <v-list-item-icon>
                <v-icon>mdi-television</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Terminales</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-list dense nav>

            <v-list-group prepend-icon="mdi-ticket" value="false" v-model="tickets">
        <template v-slot:activator>
          <v-list-item-title>Tickets</v-list-item-title>
        </template>

          <!-- Tickets -->
          <v-list dense nav>
            <v-list-item link :to="{ name: 'tickets.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-file-document-outline</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Operaciones</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

      </v-list-group>


                  <v-list-group prepend-icon="mdi-folder-pound" value="false" v-model="reports">
        <template v-slot:activator>
          <v-list-item-title>Reportes</v-list-item-title>
        </template>

          <!-- Reports -->
          <v-list dense nav>
            <v-list-item link :to="{ name: 'reports.list' }"
            >

              <v-list-item-icon>
                <v-icon>mdi-file-document-outline</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Dia</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

      </v-list-group>

            </v-list>





   

        <!-- Profiles -->
    <v-list dense nav>
        <v-list-item link :to="{ name: 'profile.edit' }">

              <v-list-item-icon>
                <v-icon>mdi-account-edit</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>Configuracion de Perfil</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

    <!-- <template v-slot:append v-if="isLoggedIn"> -->
      <template v-slot:append>
      <div class="pa-2">
        <v-btn @click="logout" color="secondary" block outlined
        ><v-icon>mdi-power</v-icon>Cerrar sesion</v-btn>
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      users: false,
      profiles: false,
      reports: false,
      tickets: false,
    };
  },
  props: {
    toggle: Boolean,
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'auth/isLoggedIn',
      authUser: 'auth/authUser',
    }),
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout');
      this.$router.push({ name: 'login' });
    },
  },
};
</script>
