<template>
    <v-dialog v-model="dialog" persistent>
        <template v-slot:activator="{on}">
                    
                    
          <v-btn v-if="flag" icon small text ><v-icon   small v-on="on">mdi-pencil</v-icon> </v-btn>
         
            <!-- <v-icon v-if="flag"  small v-on="on">mdi-pencil</v-icon> -->
            <v-btn class="font-weight-bold white--text" color="#cc37c7" v-else dark v-on="on">Nuevo</v-btn>
        </template>
        
        <v-form v-model="valid">
        <v-card>
            <v-card-title>{{(flag?"Modificar  ":"Crear  ") + title}}</v-card-title>
            <v-card-text>

              <v-container fluid grid-list-md>
              <v-layout row wrap>

             <v-flex v-if="!flag" xs12 md4>
                  <v-select v-model="type" @change="onSelect" :items="types" :rules="[rules.required]"  label="Grupo al que pertenecera"
                    outlined
                    required>
                  </v-select>
                </v-flex>

     
                             <!-- Sleect administrator -->
                <v-flex v-if="!flag"  xs12 md4>
                  <v-select v-model="type_admin" @change="onSelect2" :items="types_admin" :rules="[rules.required]"  label="Administrador al que pertenecera"
                    outlined
                    required>
                  </v-select>
                </v-flex>   

                                             <!-- Sleect Sucursal -->
                <v-flex v-if="!flag"  xs12 md4>
                  <v-select v-model="type_sucu" @change="onSelect3" :items="types_sucu" :rules="[rules.required]"  label="Sucursal al que pertenecera"
                    outlined
                    required>
                  </v-select>
                </v-flex>   


              </v-layout>

              <v-layout row wrap>




                           <v-flex xs12 md6>
                  <!-- Group Name -->
                  <v-text-field
                    v-model="nombre"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Nombre de la terminal"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>


                    <v-flex xs12 md6>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="usuario"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Usuario"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
     

              </v-layout>


                            <v-layout row wrap>


                             <v-flex xs12 md6>
                  <!-- First Name -->
                <v-text-field v-model="clave" 
                    :rules="[rules.required]" type="password"
                    append-icon="mdi-lock-open"
                    label="Nueva contraseña"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
  

       

              </v-layout>

              <v-divider></v-divider>
            </v-container>
               
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" @click="saveUser">Guardar</v-btn>
                <v-btn color="error" @click="cancelUser">Cancelar</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</v-dialog>
</template>
<script>
import statuses from '@/statuses';
export default {
    props:['title','flag','edituser','isowner', 'types', 'groups_id'],
    data:() =>({
      id_suc:'', id_auser:'',nombre:'', usuario:'', clave:'',type:'', type_admin: '', type_sucu: '',
      id_group: '',
      id_admin:'',
      admins: {},
      sucus: {},
      user: {},
      user_loged: '',
      passwordConfirm: '',
      status: ['Activo', 'Inactivo'],
      types_admin: [],
      types_sucu: [],
      admins_id: [],
      sucus_id: [],
      rules: {
        required: value => !!value || 'Este campo es requerido.'
      },
        ///////////////
        flgonce: false,
        seluser: null,
        dialog: false,
        valid:false,
        
      
    }),
    updated(){
        if (this.flag){
            if (this.flgonce) return;
            this.seluser = this.edituser;
            this.id_ter= this.seluser.id_ter;
            this.id_sucu= this.seluser.id_suc;
            this.nombre = this.seluser.nombre;this.usuario = this.seluser.usuario;
            this.flgonce = true;
        }else{
              //this.cleanUser();
        }
    },
    created() {
        this.user_loged = JSON.parse(localStorage.getItem("lvspa-user"));
     this.nombre='', this.usuario='', this.clave='';

        console.log('Este es el usuario logeado',this.user_loged);
    },
    methods:{

      

    getAdminsNames(id) {

      this.loading = true;
      this.types_admin.length = 0;
      this.admins_id.length = 0;
      this.sucus_id.length = 0;
      this.types_sucu.length = 0;
      this.types_admin = [];
      this.types_sucu = [];
    
      this.$http.get(`/filteradmins/${id}`)
      
        .then((res) => {
     
          this.admins = res.data.admins;
          console.log('LOS ADMINS ', this.admins);
            for (let i in this.admins) { 
              this.types_admin.push(this.admins[i].nombre);
               this.admins_id.push(this.admins[i].id_auser);
        }
          
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
      

    },

        getSucusNames(id) {

      this.loading = true;
      this.sucus_id.length = 0;
      this.types_sucu.length = 0;
      this.types_sucu = [];
    
      this.$http.get(`/filtersucursales/${id}`)
      
        .then((res) => {
     
          this.sucus = res.data.sucursales;
          console.log('LOS ADMINS ', this.sucus);

            for (let i in this.sucus) { 
     
              this.types_sucu.push(this.sucus[i].nombre);
               this.sucus_id.push(this.sucus[i].id_auser);
        }
    
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
      

    },

      onSelect: function() {
      let index = this.types.indexOf(this.type);
      console.log('grupo:', this.type);
      console.log('index:', index);
      console.log('id_grupo:', this.groups_id[index]);
      this.id_group = this.groups_id[index];
      this.getAdminsNames(this.id_group);
       },

       onSelect2: function() {
      let index = this.types_admin.indexOf(this.type_admin);
      console.log('administrador:', this.type_admin);
      console.log('index:', index);
      console.log('id_admin:', this.admins_id[index]);
      this.id_admin = this.admins_id[index];
      this.getSucusNames(this.id_admin);
       },

      onSelect3: function() {
      let index = this.types_sucu.indexOf(this.type_sucu);
      console.log('administrador:', this.type_sucu);
      console.log('index:', index);
      console.log('id_sucu:', this.sucus_id[index]);
      
      this.id_sucu = parseInt(this.sucus_id[index]);
      console.log( this.id_sucu);
       },
        cleanUser(){
            this.nombre = '';this.usuario = ''; this.clave = '';

        },
        saveUser(){
                let newuser ={
                id_ter: 0,
                id_suc: this.id_sucu,
                nombre: this.nombre,
                usuario: this.usuario,
                clave: this.clave,
                fecha: "0", 
                fecha_login: "0",
                sesion: "CONECTADO",
                sesion_tok: "987456321",
                pais: "{idpais: 1}",
                estado: "ACTIVO",
                cr_creditos: -1,
                cr_creditos_usa: -1,
                cr_fecha_mod: "0"
               
            
            }

            if (this.flag){
                newuser.id_suc = this.id_sucu;
                newuser.id_ter = this.seluser.id_ter;

            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
           console.log(newuser);
                                
                        this.$http.post('/editterminal', newuser, config)
                            .then((res) => {
                              
                            this.$store.dispatch('snackbar/success', 'Terminal editada exitosamente');
                            
                            console.log('TERMINAL ACTUALIZADO',res);
                            
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });
             
            }else{
                // newuser.level = (this.isowner?"own":"clie");
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };

        
                        console.log(newuser);
                                
                        this.$http.post('/addterminal', newuser, config)
                            .then((res) => {
                            this.$store.dispatch('snackbar/success', 'Terminal creada exitosamente');
                            console.log('TERMINAL NUEVO',res);
                           
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });

              

            }
       
            this.$emit('afterupdate');
            
            this.flgonce = false;
            this.dialog = false;
             
        },
        cancelUser(){
            this.dialog = false;
            this.flgonce = false;
        },
    }
}
</script>