<template>
  <v-layout row wrap class="px-3">
    <v-flex xs12>

      <v-divider></v-divider>
    </v-flex>

    <v-flex xs12>
      <v-card>
        <v-card-title class="justify-center">Crear nuevo usuario</v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="true"
          >
            <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex xs12 md6>
                  <!-- First Name -->
                  <v-text-field
                    v-model="user.name"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Nombre"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 md6>
                  <!-- Status -->
                  <v-select
                    :items="status"
                    :rules="[rules.required]"
                    v-model="user.status"
                    label="Estado"
                    outlined
                  ></v-select>
                </v-flex>

              </v-layout>

              <v-layout row wrap>
                <v-flex xs12 md6>
                  <!-- Usuario -->
                  <v-text-field
                    v-model="user.usuario"
                    append-icon="mdi-account-tie"
                    :rules="[rules.required]"
                    label="Usuario"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

              <v-flex xs12 md6>
                  <!-- Password -->
                  <v-text-field
                    v-model="user.password"
                    :rules="[rules.required]"
                    type="password"
                    append-icon="mdi-lock-open"
                    label="Contraseña"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>

              <v-divider></v-divider>
            </v-container>
          </v-form>
           <v-btn class="font-weight-bold white--text "   color="#cc37c7" @click="store"
          >Crear nuevo usuario</v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
// import statuses from '@/statuses';

export default {
  data() {
    return {
      valid: true,
      user: {},
      status: ['Activo', 'Inactivo'],
      rules: {
        required: value => !!value || 'Este campo es requerido.',
      },
    };
  },
  created() {
    // this.getEnterprise();
    // this.getPeopleType();
  },
  methods: {
    getEnterprise() {
      // this.$http.get(`/enterprise`)
      //   .then((res) => {
      //     this.enterprises = res.data.enterprises;
      //   })
      //   .catch((err) => {
      //     this.$store.dispatch('snackbar/error', statuses[err.response.status]);
      //   });
    },
    getPeopleType() {
      // this.$http.get(`/people-types`)
      //   .then((res) => {
      //     this.peopleTypes = res.data.peopletypes;
      //   })
      //   .catch((err) => {
      //     this.$store.dispatch('snackbar/error', statuses[err.response.status]);
      //   });
    },
    store() {
      // this.$http.post('/people', this.people)
      //   .then((res) => {
      //     this.$store.dispatch('snackbar/success', 'Usuario creado exitosamente');
      //     this.$router.push({ name: 'people.show', params: { id: res.data.id } });
      //   })
      //   .catch((err) => {
      //     this.$store.dispatch('snackbar/error', statuses[err.response.status]);
      //   });
    },
  },
};
</script>


