<template>
  <v-layout row wrap class="px-3">
    <v-flex xs12 class=" mb-3">
      <v-btn class="mb-3 font-weight-bold" @click="() => { $router.go(-1) }" color="#F7A902"
      >Regresar</v-btn>

      <v-divider></v-divider>
    </v-flex>

    <v-flex xs6 class="offset-xs3 mb-3">
      <v-card>
        <v-card-title class="justify-center">Editar usuario: </v-card-title>
        <v-card-subtitle class="text-center">Puedes editar los datos de este usuario aquí</v-card-subtitle>

        <v-divider></v-divider>

        <v-card-text>
          <v-form @submit.prevent>
            <v-container fluid grid-list-lg>
              <v-layout row wrap >
                <v-flex xs6>
                  <v-text-field v-model="baseFields.first_name" append-icon="mdi-face" label="Nombre" outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field v-model="baseFields.last_name" append-icon="mdi-account" label="Usuario" outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field v-model="baseFields.email"  type="password" append-icon="mdi-key" label="Contraseña" outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs12>
                  <v-select v-model="baseFields.status" label="Estado del usuario" :items="status" outlined
                    required
                  ></v-select>
                </v-flex>

                <v-flex xs12>
                  <v-select v-model="baseFields.type" label="Tipo de acceso" :items="type" outlined
                    required
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>

           <v-btn class="font-weight-bold white--text "   color="#cc37c7" @click="edit"
          >Editar informacion de usuario</v-btn>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/statuses';

export default {
  data() {
    return {
      user: {},
      type: ['Sucursal'],
      status: ['Activo', 'Inactivo'],
      baseFields: {},
    };
  },
  created() {
    // this.findUser();
  },
  methods: {
    findUser() {
      this.$http.get(`/user/${this.$route.params.id}`)
        .then((res) => {
          this.user = res.data.user;
          this.baseFields = this.user;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
      edit() {
      const data = this.baseFields;
      if (this.password) data.password = this.password;

    },
  },
};
</script>
