<template>
  <v-layout row wrap>
   <v-flex xs12 class="mb-3">
      <v-btn  class="ml-3 font-weight-bold white--text" color="#cc37c7" :to="{ name: 'user.create' }"> Crear nuevo usuario </v-btn>
    </v-flex>
    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          Listado de usuario

          <v-spacer></v-spacer>

          <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line hide-details >
          </v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table :headers="headers" :items="users" :search="search" :loading="loading" loading-text="Cargando..."
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
           >
            <template v-slot:item.action="{ item }">
              <v-tooltip bottom color="info">
                <template v-slot:activator="{ on }">
                  <v-btn icon small text :to="`/user/show/${item.id}`"
                  >
                    <v-icon v-on="on" small > mdi-eye </v-icon>
                  </v-btn>
                </template>
                <span>Ver</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn icon small text :to="`/user/edit/${item.id}`"
                  >
                    <v-icon  v-on="on"  small
                    >mdi-pencil</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn icon small text :to="`/user/edit/${item.id}`"
                  >
                    <v-icon  v-on="on"  small
                    >mdi-sack</v-icon>
                  </v-btn>
                </template>
                <span>Editar</span>
              </v-tooltip>

            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/statuses';

export default {
  data() {
    return {
      loading: false,
      search: '',
      displayDeleteDialog: false,
      deleteDialogUser: {},
      serverPagination: {
        page: 1,
        rowsNumber: 10,
      },
      headers: [
        {
          text: '#',
          value: 'id',
        },
        {
          text: 'Nombre',
          value: 'name',
        },
        {
          text: 'Tipo',
          value: 'type',
        },
        {
          text: 'Usuario',
          value: 'user',
        },
        {
          text: 'Estado',
          value: 'state',
        },
        {
          text: 'Fecha',
          value: 'fech',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      users: [],
    };
  },
  created() {
    // this.getUsers();
  },
 methods: {
    toggleDeleteDialog(id) {
      this.displayDeleteDialog = true;
      this.deleteDialogUser = this.users.find(user => user.id === id);
    },
    getUsers() {
      this.loading = true;
      this.$http.get('/user')
        .then((res) => {
          this.users = res.data.users;
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },
    deleteUser() {

    },
  },
};
</script>

