<template>
  <v-layout row wrap>
   <v-flex xs12 class="mb-3">
            <span  style="margin-left:25px;"><dlgeditu :groups_id="groups_id" :types="types"  :title="accion" :flag="flgEdit" :isowner="flagIsOwner" @afterupdate="editItem()"/></span>
    </v-flex>
    <v-flex xs12 class="mx-3">
      <v-card>
        <v-card-title>
          {{titulo }}

          <v-spacer></v-spacer>

          <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line hide-details >
         
          </v-text-field>
        </v-card-title>

        <v-card-text>
          <v-data-table :headers="headers" :items="users" :search="search" :loading="loading" loading-text="Cargando..."
            :footer-props="{'items-per-page-options': [10, 20, 50, 100]}"
           >
            <template v-slot:item.action="{item}">
  

              <v-tooltip bottom color="warning">
                <template v-slot:activator="{ on }">
    
                  <dlgeditu :title="accion" :flag="true" :groups_id="groups_id" :types="types" :edituser="item" :isowner="flagIsOwner" @afterupdate="editItem(item)"/>
                </template>
                <span>Editar Administrador</span>
              </v-tooltip>

              <v-tooltip bottom color="success">
                <template v-slot:activator="{ on }">
                  <v-btn icon small text :to="`/user/edit/${item.id}`">
                    <v-icon  v-on="on" small >mdi-sack</v-icon>
                  </v-btn>
                </template>
                <span>Asignar creditos</span>
              </v-tooltip>

            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/statuses';
import dlgEditUser from './modalAdministrator';

export default {
      components:{
        'dlgeditu': dlgEditUser
    },
  data() {
    return {
      titulo: 'Listado de administradores',
      flagIsOwner: false,
      flgEdit: false,
      accion: 'Administrador',
      loading: false,
      search: '',
      groups: {},
      displayDeleteDialog: false,
      deleteDialogUser: {},
      serverPagination: {
        page: 1,
        rowsNumber: 10,
      },
      headers: [
        {
          text: '#',
          value: 'id_auser',
        },
        {
          text: 'Nombre administrador',
          value: 'nombre',
        },
        {
          text: 'Usuario',
          value: 'usuario',
        },
        {
          text: 'Estado',
          value: 'estado',
        },
        {
          text: 'Fecha',
          value: 'fecha',
        },
        {
          text: 'Acciones',
          value: 'action',
          sortable: false,
        },
      ],
      users: [],
      types: [],
      groups_id: [],
    };
  },
  created() {
    this.user_loged = JSON.parse(localStorage.getItem("lvspa-user"));
     this.getAdmins();
      this.getGroupsNames();
  },
 methods: {
      editItem(){
       this.getAdmins();

          
        },
    getAdmins() {
      this.loading = true;
          
      this.$http.get(`/filteradmins`)
      
        .then((res) => {
          console.log(res);
          this.users = res.data.admins;
          this.loading = false;
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
    },
        getGroupsNames() {
      this.loading = true;
           console.log(this.user_loged.id_auser.toString());
      this.$http.get(`/filtergroups/${this.user_loged.id_auser.toString()}`)
      
        .then((res) => {
     
          this.groups = res.data.groups;
          console.log('LOS GRUPOS ', this.groups);
            for (let i in this.groups) { 
              this.types.push(this.groups[i].nombre);
               this.groups_id.push(this.groups[i].id_auser);
        }

        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
      

    },
    deleteUser() {

    },
  },
};
</script>



