<template>
    <v-dialog v-model="dialog" persistent>
        <template v-slot:activator="{on}">
                    
                    
          <v-btn v-if="flag" icon small text ><v-icon   small v-on="on">mdi-pencil</v-icon> </v-btn>
         
            <!-- <v-icon v-if="flag"  small v-on="on">mdi-pencil</v-icon> -->
            <v-btn class="font-weight-bold white--text" color="#cc37c7" v-else dark v-on="on">Nuevo</v-btn>
        </template>
        
        <v-form v-model="valid">
        <v-card>
            <v-card-title>{{(flag?"Modificar  ":"Crear  ") + title}}</v-card-title>
            <v-card-text>

              <v-container fluid grid-list-md>
              <v-layout row wrap>

              <v-flex v-if="!flag" xs12 md4>
                  <v-select  v-model="type" @change="onSelect" :items="types" :rules="[rules.required]"  label="Grupo al que pertenecera"
                    outlined
                    required>
                  </v-select>
                </v-flex>
                

              <v-flex v-if="!flag" xs12 md4>
                  <v-select  v-model="country" @change="onSelect2" :items="types_countrys" :rules="[rules.required]"  label="Asignar Pais"
                    outlined
                    required>
                  </v-select>
                </v-flex>

               <v-flex v-if="!flag" xs12 md4>
                  <!-- Group Name -->
                  <v-text-field
                    v-model="nombre"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Nombre del administrador"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex v-if="flag" xs12 >
                    <!-- Group Name -->
                    <v-text-field
                      v-model="nombre"
                      append-icon="mdi-account"
                      :rules="[rules.required]"
                      label="Nombre del administrador"
                      outlined
                      required
                    ></v-text-field>
                </v-flex>

              </v-layout>

              <v-layout row wrap>

                                    <v-flex xs12 md6>
                  <!-- Group USer -->
                  <v-text-field
                    v-model="usuario"
                    append-icon="mdi-account"
                    :rules="[rules.required]"
                    label="Usuario"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>


                <v-flex xs12 md6>
                  <!-- First Name -->
                <v-text-field v-model="clave" 
                    :rules="[rules.required]" type="password"
                    append-icon="mdi-lock-open"
                    label="Nueva contraseña"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>

                


              </v-layout>

              <v-divider></v-divider>
            </v-container>
               
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" @click="saveUser">Guardar</v-btn>
                <v-btn color="error" @click="cancelUser">Cancelar</v-btn>
            </v-card-actions>
        </v-card>
    </v-form>
</v-dialog>
</template>
<script>
import statuses from '@/statuses';
import moment from 'moment';
export default {
    props:['title','flag','edituser','isowner', 'types', 'groups_id'],
    data:() =>({
      id_auser:'',nombre:'', usuario:'', clave:'',type:'', country: '',
      id_group: '',
      id_country: '',
      user_loged: '',
      passwordConfirm: '',
      rules: {
        required: value => !!value || 'Este campo es requerido.'
      },
      countrys: {},
      types_countrys: [],
      countrys_id: [],
      codigo_pais: [],
        ///////////////
        flgonce: false,
        seluser: null,
        dialog: false,
        valid:false,
        
      
    }),
    updated(){
        if (this.flag){
            if (this.flgonce) return;
            this.seluser = this.edituser;
            this.id_auser = this.seluser.id_auser;
            this.nombre = this.seluser.nombre;
            this.usuario = this.seluser.usuario;
            this.country = this.seluser.country;
            this.flgonce = true;
        }else{
              //this.cleanUser();
        }
    },
    created() {
  this.user_loged = JSON.parse(localStorage.getItem("lvspa-user"));
     this.nombre='', this.usuario='', this.clave='';

     this.getCountrysName();

     let date = new Date();

     let m = moment(date, "MM/DD/YYYY");
    //  let m = moment(date, "YYYY-MM-DD HH:mm Z");
    //  let m = moment("2010-10-20 11:59 +0000", "YYYY-MM-DD HH:mm Z");
     console.log(m.millisecond());
     console.log(m.unix());

     console.log('hora utc: ', moment.utc(date).valueOf());
    
    
 
    },
    methods:{

      onSelect: function() {
      let index = this.types.indexOf(this.type);
      console.log('grupo:', this.type);
      console.log('index:', index);
      console.log('id_grupo:', this.groups_id[index]);
      this.id_group = this.groups_id[index];
       },

             onSelect2: function() {
      let index = this.types_countrys.indexOf(this.country);
      console.log('pais:', this.country);
      console.log('index:', index);
      console.log('id_pais:', this.countrys_id[index]);
      this.id_country = this.countrys_id[index];
       },
        cleanUser(){ 
            this.nombre = ' ';this.usuario = ' '; 

        },
        saveUser(){
          
                let newuser ={
                id_auser: this.user_loged.id_auser,
                nombre: this.nombre,
                porcentaje: "0",
                usuario: this.usuario,
                clave: this.clave,
                fecha: "0", 
                fecha_login: "0",
                sesion: "CONECTADO",
                sesion_tok: "987456321",
                pais: `{idpais: ${this.id_country}}`,
                estado: "ACTIVO",
                tipo: "ADMINISTRADOR", 
                cr_creditos: -1,
                cr_creditos_usa: -1,
                cr_fecha_mod: "0",
                nivel: `${this.user_loged.id_auser},${this.id_group},0,0`
            
            }

            if (this.flag){
                
                newuser.id_auser = this.id_auser,
                newuser.nivel = `{${this.user_loged.id_auser},${this.id_group},${this.seluser.id_auser},0}`;

            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };
         
                                
                        this.$http.post('/editadmuser', newuser, config)
                            .then((res) => {
                              
                            this.$store.dispatch('snackbar/success', 'Administrador editado exitosamente');
                            
                            console.log('ADMINISTRADOR ACTUALIZADO',res);
                            
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });
             
            }else{
                // newuser.level = (this.isowner?"own":"clie");
            let config = {
                headers: {
                    'Access-Control-Allow-Origin': '*'
                }
            };

        
         
                                
                        this.$http.post('/addadmuser', newuser, config)
                            .then((res) => {
                            this.$store.dispatch('snackbar/success', 'Administrador creado exitosamente');
                            console.log('ADMINISTRADOR NUEVO',res);
                           
                            })
                            .catch((err) => {
                            this.$store.dispatch('snackbar/error', statuses[err.response.status]);
                            });

              

            }
            this.cleanUser();
            this.$emit('afterupdate');
            
            this.flgonce = false;
            this.dialog = false;
             
        },
        cancelUser(){
            this.dialog = false;
            this.flgonce = false;
        },
      getCountrysName() {
      this.loading = true;
      this.$http.get(`/filtercountrys`)
      
        .then((res) => {
     
          this.countrys = res.data.countrys;
          console.log('LOS PAISES ', this.countrys);
            for (let i in this.countrys) { 
              this.types_countrys.push(this.countrys[i].nombre);
               this.countrys_id.push(this.countrys[i].id_pais);
        }

        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
          this.loading = false;
        });
      

    },

    
        
    }
}
</script>