<template>
  <v-layout row wrap class="px-3">
    <v-flex xs4 class="offset-xs4 mb-3">
      <v-card>
        <v-card-title primary-title class="justify-center">Recuperar contraseña</v-card-title>

        <v-divider></v-divider>

        <v-card-text>
          <v-form ref="form" v-model="valid" :lazy-validation="true"
          >
            <v-container fluid>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field v-model="user.email" :rules="[rules.required, rules.email]" type="email"
                    append-icon="mdi-email"
                    label="Correo electrónico"
                    outlined
                    required
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
            <v-flex xs12 >
            <v-btn block  @click="validateForm" color="info"
            >Enviar</v-btn>
            </v-flex>
          </v-form>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import statuses from '@/statuses';

export default {
  data() {
    return {
      correo: '',
      mensaje: '',
      valid: true,
      user: {
        confirm: true,
      },
      type: ['Mobile', 'Web'],
      passwordConfirm: '',
      rules: {
        required: value => !!value || 'Este campo es requerido.',
        confirm: value => value === this.user.password || 'Las contraseñas deben coincidir.',
        email: value => /.+@.+/.test(value) || 'Debe ser un correo electrónico válido',
      },
    };
  },
  methods: {
    validateForm() {
      if (this.$refs.form.validate()) this.store();
    },
    async store() {
      this.correo = this.user.email;
      await this.$http.post(`auth/recover-password/${this.correo}`)
        .then((res) => {
          window.console.log(res);
          this.mensaje=`Correo enviado exitosamente: . ${this.correo}`;
          this.$store.dispatch('snackbar/success', this.mensaje);
          this.$router.push('/login');
        })
        .catch((err) => {
          this.$store.dispatch('snackbar/error', statuses[err.response.status]);
        });
    },
  },
};
</script>
